__pycache__
*.hdf5
*.zip
data
wandb
*.pth
tmp
develope
*.mp4
*/tmp/*
goals
*.npy
*/goals/*
dataset
test_results
build
.catkin_workspace
devel
CMakelists.txt
package.xml
*.pth
nohup.out
runs
*.ckpt
*.txt
agent_arena.egg-info
results